.box {
    border-radius: 5px;
    padding: 2rem;
    margin-bottom: .75rem;

    &-primary {
        background-color: $gray-800;
    }

    &-secondary {
        background-color: transparent;
    }
}