.btn {
    --#{$prefix}btn-padding-x: 1.5rem;
    --#{$prefix}btn-font-weight: 600;

    &-primary {
        --#{$prefix}btn-color: $white;
    }

    &-dark {
        --#{$prefix}btn-bg: #{tint-color( $dark, 3% )};
    }

    &-appearance {
        &:hover {
            box-shadow: none !important;
        }

        &:focus {
            outline: none !important;
            box-shadow: none !important;
        }
    }

    &-transparent {
        color: $danger;
        border: none;

        &:active,
        &:focus,
        &:hover {
            border: none;
            color: shade-color( $danger, 20% ) !important;
        }
    }
}