@font-face {
    font-family: "Monaspace Krypton", monospace;
    src: url("/fonts/MonaspaceKrypton.woff") format("woff-variations");
    font-weight: 125 950;
    font-stretch: 75% 125%;
    font-style: normal;
  }