body {
    height: 100dvh;
    overflow: hidden;
}

form {
    section {
        .row {
            @extend .mb-4;
        }
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, .2);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: $dark;
    border-radius: 10px;
    border: none;
}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}