h6 {
    display: flex;
    align-items: center;
    gap: .5rem;
    text-transform: uppercase;
    color: $gray-100;
    margin-bottom: 1.5rem;
}

code {
    position: relative;
    color: $code-color;
    top: 2px;
}