.widget {
    border-radius: $border-radius;
    background-color: $neutral-800;
    max-width: 650px;
    padding-bottom: .1rem;

    &--header {
        border-bottom: 1px solid $gray-900;
    }

    &--header {
        padding: 1rem;
    }

    &--title {
        color:  $white;
        font-size: 1rem;
        text-transform: uppercase;
        margin-bottom: 0;

        &--icon {
            display: flex;
            align-items: center;
            gap: 1rem;

            span {
                font-size: 1.1rem;
            }
        }
    }
}